
#### 3.4.1 How does shifting granularites affect the amount of information in your data?

Granularity allows for us to to look at the data at different levels. Choosing to look at player stats per
week instead of per game or per play. We can gain or lose information depending on the granularity we choose.

#### 3.4.2 A) Load the play by data

In [18]:
# importing libraries
import pandas as pd
from os import path

# file path
dataDir = '/Users/simmsjn/Documents/GitHub/ltcwff-files/data'

# loading the DF
pbp = pd.read_csv(path.join(dataDir, 'play_data_sample.csv'))
pbp.head()

,play_id,game_id,posteam,defteam,posteam_score,defteam_score,qtr,time,yardline_100,down,...,wp,wpa,passer_player_id,passer_player_name,receiver_player_id,receiver_player_name,rusher_player_id,rusher_player_name,turnover,first_down
0,51,2018101412,NE,KC,0.0,0.0,1,15:00:00,75.0,1.0,...,0.500007,0.035322,00-0019596,T.Brady,00-0029664,J.Gordon,NaN,NaN,False,True
1,75,2018101412,NE,KC,0.0,0.0,1,14:27:00,63.0,1.0,...,0.535329,0.004602,NaN,NaN,NaN,NaN,00-0034845,S.Michel,False,False
2,96,2018101412,NE,KC,0.0,0.0,1,13:54:00,58.0,2.0,...,0.539930,0.038361,NaN,NaN,NaN,NaN,00-0034845,S.Michel,False,True
3,117,2018101412,NE,KC,0.0,0.0,1,13:13:00,47.0,1.0,...,0.578292,-0.018620,00-0019596,T.Brady,00-0029664,J.Gordon,NaN,NaN,False,False
4,139,2018101412,NE,KC,0.0,0.0,1,13:10:00,47.0,2.0,...,0.559672,0.008721,NaN,NaN,NaN,NaN,00-0034845,S.Michel,False,False

#### B) Figure out who the leading rusher in each game was and how many rushing yards they had.

In [6]:
pbp.columns

Index(['play_id', 'game_id', 'posteam', 'defteam', 'posteam_score',
       'defteam_score', 'qtr', 'time', 'yardline_100', 'down', 'ydstogo',
       'play_type', 'yards_gained', 'rush_attempt', 'pass_attempt',
       'complete_pass', 'touchdown', 'interception', 'safety', 'fumble',
       'fumble_lost', 'qb_hit', 'sack', 'field_goal_attempt', 'punt_attempt',
       'run_location', 'shotgun', 'no_huddle', 'pass_location', 'air_yards',
       'yards_after_catch', 'epa', 'wp', 'wpa', 'passer_player_id',
       'passer_player_name', 'receiver_player_id', 'receiver_player_name',
       'rusher_player_id', 'rusher_player_name', 'turnover', 'first_down'],
      dtype='object')

In [11]:
(pbp.query("play_type == 'run'").groupby(['play_id','rusher_player_name']).sum())

,,game_id,posteam_score,defteam_score,qtr,yardline_100,down,ydstogo,yards_gained,rush_attempt,pass_attempt,...,punt_attempt,shotgun,no_huddle,air_yards,yards_after_catch,epa,wp,wpa,turnover,first_down
play_id,rusher_player_name,,,,,,,,,,,,,,,,,,,,,
51,T.Gurley,2018111900,0.0,0.0,1,75.0,1.0,10,5,1.0,0.0,...,0.0,0,0,0.0,0.0,0.095404,0.500007,0.004822,0,1
75,S.Michel,2018101412,0.0,0.0,1,63.0,1.0,10,5,1.0,0.0,...,0.0,0,0,0.0,0.0,0.086672,0.535329,0.004602,0,0
96,S.Michel,2018101412,0.0,0.0,1,58.0,2.0,5,11,1.0,0.0,...,0.0,1,0,0.0,0.0,1.134430,0.539930,0.038361,0,1
139,S.Michel,2018101412,0.0,0.0,1,47.0,2.0,10,7,1.0,0.0,...,0.0,0,0,0.0,0.0,0.220052,0.559672,0.008721,0,0
199,T.Gurley,2018111900,0.0,0.0,1,19.0,2.0,3,4,1.0,0.0,...,0.0,0,0,0.0,0.0,0.205356,0.619412,0.008965,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4625,B.Cooks,2018111900,45.0,43.0,4,84.0,1.0,10,0,1.0,0.0,...,0.0,0,0,0.0,0.0,-0.581583,0.597900,-0.022231,0,0
4727,K.Hunt,2018111900,43.0,45.0,4,65.0,1.0,10,4,1.0,0.0,...,0.0,1,0,0.0,0.0,-0.105818,0.461997,-0.003858,0,0
4769,P.Mahomes,2018111900,43.0,45.0,4,64.0,3.0,9,7,1.0,0.0,...,0.0,1,0,0.0,0.0,-0.377093,0.404543,-0.025390,0,0
4833,P.Mahomes,2018111900,43.0,45.0,4,39.0,1.0,10,2,1.0,0.0,...,0.0,1,0,0.0,0.0,-0.357333,0.542006,-0.014460,0,0
4979,J.Goff,2018111900,45.0,50.0,4,75.0,1.0,10,1,1.0,0.0,...,0.0,1,0,0.0,0.0,-0.325954,0.242022,-0.043094,0,0

#### C) Figure out everyone's ypc

In [19]:
(pbp.query("play_type == 'run'").groupby(['game_id', 'rusher_player_name'])['yards_gained'].mean())

game_id     rusher_player_name
2018101412  C.Patterson           3.000000
            Dam. Williams         1.000000
            J.Edelman             7.000000
            J.White               6.500000
            K.Barner              5.333333
            K.Hunt                8.000000
            P.Mahomes             4.500000
            S.Michel              4.416667
            S.Ware                2.500000
            S.Watkins            -1.000000
            T.Brady               1.500000
            T.Hill                0.000000
2018111900  B.Cooks               0.000000
            J.Goff                4.000000
            K.Hunt                5.000000
            M.Brown               3.750000
            P.Mahomes             4.666667
            T.Gurley              4.583333
Name: yards_gained, dtype: float64

#### D) What portion of everyone's runs got 0 or negative yardage

In [21]:
pbp['lte_0_yards'] = pbp['yards_gained'] <= 0

(pbp
.query("play_type == 'run'")
.groupby(['game_id', 'rusher_player_name'])['lte_0_yards'].mean())

game_id     rusher_player_name
2018101412  C.Patterson           0.000000
            Dam. Williams         0.000000
            J.Edelman             0.000000
            J.White               0.166667
            K.Barner              0.000000
            K.Hunt                0.100000
            P.Mahomes             0.000000
            S.Michel              0.125000
            S.Ware                0.000000
            S.Watkins             1.000000
            T.Brady               0.500000
            T.Hill                1.000000
2018111900  B.Cooks               1.000000
            J.Goff                0.000000
            K.Hunt                0.071429
            M.Brown               0.000000
            P.Mahomes             0.000000
            T.Gurley              0.250000
Name: lte_0_yards, dtype: float64

#### 3.4.3 - Using the pbp data, run pbp.gourpby('game_id').count()

    -Explain what you think it is doing . How does count differ from sum? 
    When could count and sum give you the same result?

In [22]:
pbp.groupby('game_id').count()

,play_id,posteam,defteam,posteam_score,defteam_score,qtr,time,yardline_100,down,ydstogo,...,wpa,passer_player_id,passer_player_name,receiver_player_id,receiver_player_name,rusher_player_id,rusher_player_name,turnover,first_down,lte_0_yards
game_id,,,,,,,,,,,,,,,,,,,,,
2018101412,144,138,138,138,138,144,144,138,139,144,...,143,73,73,71,71,55,55,144,144,144
2018111900,160,154,154,154,154,160,160,155,154,160,...,160,103,103,92,92,41,41,160,160,160

    Count gives the number of items in a column and sum adds all the values in the columns

    Count and sum would dgive the same result if all the vals in a column werre fiflled with 1's.

#### 3.4.4 - In pbp, which team/game had the highest percentage of their plays fo for first downs? Turnovers?

In [43]:
pbp.groupby(['posteam', 'game_id'])['turnover', 'first_down'].mean()*100

<ipython-input-43-ebebe9b122e7>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pbp.groupby(['posteam', 'game_id'])['turnover', 'first_down'].mean()*100

                    turnover  first_down
posteam game_id
KC      2018101412  3.448276   24.137931
        2018111900  6.849315   28.767123
LA      2018111900  2.469136   24.691358
NE      2018101412  1.250000   31.250000