## Chapter 3 Exercise

In [1]:
# Importing libraries
import pandas as pd
from os import path

In [2]:
# 3.0.1 - Load the ADP data into a DF named adp.

# path variable
dataDir = '/Users/simmsjn/Documents/GitHub/ltcwff-files/data'

# creating the ADP df
adp = pd.read_csv(path.join(dataDir, 'adp_2017.csv'))

In [3]:
# 3.0.2 - Use the adp df to create another df, adp50, that is the top 50 (by ADP) players

adp50 = adp.sort_values('adp').head(50)
adp50

,adp,adp_formatted,bye,high,low,name,player_id,position,stdev,team,times_drafted
0,1.3,1.01,12,1,4,David Johnson,2297,RB,0.6,ARI,310
1,2.3,1.02,7,1,6,LeVeon Bell,1983,RB,0.8,PIT,303
2,3.7,1.04,7,1,7,Antonio Brown,1886,WR,1.0,PIT,338
3,5.7,1.06,9,1,15,Julio Jones,1796,WR,3.2,ATL,131
4,6.2,1.06,8,1,17,Ezekiel Elliott,2343,RB,2.8,DAL,180
5,6.4,1.06,11,2,12,Odell Beckham Jr,2113,WR,1.6,NYG,310
6,7.0,1.07,9,3,11,Devonta Freeman,2144,RB,1.9,ATL,189
7,7.8,1.08,6,2,15,LeSean McCoy,1645,RB,2.0,BUF,257
8,7.9,1.08,7,3,15,Mike Evans,2111,WR,2.2,TB,305
9,10.0,1.10,9,5,20,A.J. Green,1795,WR,2.2,CIN,287
10,10.1,1.10,12,3,18,Melvin Gordon,2282,RB,2.6,LAC,318
11,11.4,1.11,11,5,20,Jordy Nelson,1350,WR,2.4,GB,295
12,13.3,2.01,9,7,20,Michael Thomas,2357,WR,2.2,NO,269
13,13.8,2.02,10,7,20,Jay Ajayi,2284,RB,2.6,PHI,282
14,15.2,2.03,11,8,22,DeMarco Murray,1819,RB,2.4,TEN,239
15,16.8,2.05,6,9,24,Jordan Howard,2384,RB,2.7,CHI,224
16,17.1,2.05,10,8,25,Brandin Cooks,2114,WR,3.2,NE,237
17,18.1,2.06,10,9,29,Rob Gronkowski,1740,TE,3.3,NE,198
18,18.7,2.07,12,11,27,Kareem Hunt,2450,RB,3.0,KC,275
19,19.4,2.07,9,11,27,Todd Gurley,2280,RB,2.9,LAR,263
20,20.5,2.08,8,11,30,Dez Bryant,1727,WR,3.3,DAL,270
21,21.3,2.09,6,13,32,Amari Cooper,2277,WR,3.2,OAK,287
22,22.4,2.10,11,14,32,Doug Baldwin,1927,WR,3.1,SEA,295
23,22.9,2.11,7,14,32,Christian McCaffrey,2434,RB,3.7,CAR,272
24,23.4,2.11,11,7,40,Aaron Rodgers,1004,QB,6.1,GB,200
25,25.8,3.02,12,17,36,Keenan Allen,1992,WR,3.3,LAC,272
26,27.0,3.03,10,16,41,Leonard Fournette,2433,RB,4.0,JAX,211
27,27.5,3.03,12,17,36,Dalvin Cook,2432,RB,3.9,MIN,263
28,28.8,3.05,6,19,43,T.Y. Hilton,1935,WR,3.6,IND,205
29,29.6,3.06,10,14,43,Tom Brady,119,QB,5.8,NE,193
30,29.8,3.06,7,19,39,Isaiah Crowell,2219,RB,3.8,CLE,243
31,30.2,3.06,10,18,41,Terrelle Pryor,1868,WR,4.5,WAS,210
32,31.7,3.08,10,19,47,DeAndre Hopkins,1975,WR,4.5,HOU,258
33,32.6,3.09,11,19,45,Ty Montgomery,2317,RB,4.9,GB,290
34,34.5,3.10,10,24,45,Demaryius Thomas,1735,WR,4.0,DEN,264
35,35.2,3.11,4,23,47,Carlos Hyde,2129,RB,4.5,SF,313
36,35.2,3.11,10,22,47,Lamar Miller,1908,RB,4.7,HOU,238
37,36.4,3.12,6,20,51,Marshawn Lynch,740,RB,6.0,OAK,228
38,38.6,4.03,6,25,51,Kelvin Benjamin,2116,WR,5.0,BUF,251
39,38.9,4.03,12,25,59,Travis Kelce,1989,TE,5.3,KC,209
40,39.1,4.03,10,28,50,Alshon Jeffery,1918,WR,4.1,PHI,234
41,40.9,4.05,7,27,56,Martavis Bryant,2150,WR,5.1,PIT,268
42,41.7,4.06,9,19,59,Drew Brees,127,QB,8.7,NO,170
43,42.5,4.06,9,29,65,Joe Mixon,2438,RB,4.9,CIN,239
44,43.7,4.08,6,31,57,Michael Crabtree,1646,WR,4.7,OAK,234
45,44.9,4.09,11,32,60,Davante Adams,2125,WR,4.8,GB,234
46,45.5,4.10,12,31,59,Tyreek Hill,2390,WR,5.5,KC,248
47,47.8,4.12,5,33,63,Golden Tate,1730,WR,5.5,DET,238
48,48.4,4.12,12,35,60,Larry Fitzgerald,374,WR,5.1,ARI,215
49,48.6,5.01,4,31,67,Bilal Powell,1867,RB,6.4,NYJ,231

In [4]:
# 3.0.3 - Sort adp by name in descending order (so Zay Jones is first in line). On another line, look at adp in the REPL
# and make sure it worked

adp.sort_values('name', ascending = False).head()

,adp,adp_formatted,bye,high,low,name,player_id,position,stdev,team,times_drafted
125,122.0,11.02,6,95,140,Zay Jones,2468,WR,10.4,BUF,94
72,72.8,7.01,10,52,95,Zach Ertz,1978,TE,7.8,PHI,148
86,83.8,7.12,9,65,105,Willie Snead,2223,WR,9.2,NO,122
173,161.0,14.05,9,143,176,Wil Lutz,2522,PK,6.7,NO,42
151,146.1,13.02,10,108,176,Wendell Smallwood,2385,RB,14.4,PHI,157

In [5]:
# 3.0.4 - What is the type of adp.sort_values('adp')?

type(adp.sort_values('adp'))
# It is a dataframe

pandas.core.frame.DataFrame

In [7]:
# 3.0.5 
# A) Make a new df, adpSimple, with just the columns 'name', 'position', 'adp', in that order

adpSimple = adp[['name','position', 'adp']]
adpSimple.head()

              name position  adp
0    David Johnson       RB  1.3
1      LeVeon Bell       RB  2.3
2    Antonio Brown       WR  3.7
3      Julio Jones       WR  5.7
4  Ezekiel Elliott       RB  6.2

In [10]:
# 3.0.5
# B) rearrange addpSImple so the orderr is 'position', 'name', 'adp'.

adpSimple = adp[['position', 'name', 'adp']]
adpSimple.head()

  position             name  adp
0       RB    David Johnson  1.3
1       RB      LeVeon Bell  2.3
2       WR    Antonio Brown  3.7
3       WR      Julio Jones  5.7
4       RB  Ezekiel Elliott  6.2

In [11]:
# 3.0.5
# C) Using the original adp DF, add the 'team' column to adpSimple

adpSimple['team'] = adp['team']
adpSimple.head()

<ipython-input-11-d3c248127677>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adpSimple['team'] = adp['team']

  position             name  adp team
0       RB    David Johnson  1.3  ARI
1       RB      LeVeon Bell  2.3  PIT
2       WR    Antonio Brown  3.7  PIT
3       WR      Julio Jones  5.7  ATL
4       RB  Ezekiel Elliott  6.2  DAL

In [14]:
# 3.0.5
# D) Write a copy of adpSimple to your computer, 'adpSimple.txt' that is '|' (pipe delimited) instead of comma.

adpSimple.to_csv(path.join(dataDir, 'adpSimple.txt'), sep = '|')